<!-- py-3 : padding을 y축방향(상단)으로 주는것-->
<footer class="footer bg-dark py-3 mt-auto">
  <div class="container">
    <!-- text-muted: 텍스트 약간 밝고 부드럽게 만들기-->
    <!-- &copy; : 저작권 문양 넣기-->
    <span class="text-muted">&copy; YelpCamp2022 </span>
  </div>
</footer>
